/* ARTICLES
-------------------------------------------------*/

	#main {
		margin: $space 0 $space;
	}

  .main {
      @extend %space;
      .media {
          margin-bottom: $space;
      }
      article footer{
        margin-top: $space;
      }

  }
  .large-header {
  position: relative;
  width: 100%;
  min-height: 250px;
  background: #010101;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  }
  ul.star {
  padding: 0;
  margin: -40px 0 0 -60px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  border: 10px solid transparent;
  box-shadow: 3px 5px 20px #2F5170, inset 3px 5px 10px #566879;
  border-radius: 50%;
  animation: ring 10s linear infinite;
  li.point {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 2px 5px #7293B1, inset 1px 1px 5px #CED2D5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5% 0 0 -5%;
    animation: stars 10s ease infinite;
    transform: translate(-50px, -20px);
    &:nth-child(2) {
      animation-delay: 5s;
    }
    &:nth-child(3) {
      animation-delay: 6s;
    }
    &:nth-child(4) {
      animation-delay: 7s;
    }
    &:nth-child(5) {
      animation-delay: 8s;
    }
    &:nth-child(6) {
      animation-delay: 9s;
    }
    &:nth-child(7) {
      animation-delay: 10s;
    }
    &:nth-child(8) {
      animation-delay: 11s;
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(120deg);
  }

  66% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes stars {
  0% {
    transform: translate(-50px, -20px);
  }

  20% {
    transform: translate(50px, -20px);
  }

  40% {
    transform: translate(-30px, 45px);
  }

  60% {
    transform: translate(0, -50px);
  }

  80% {
    transform: translate(30px, 45px);
  }

  100% {
    transform: translate(-50px, -20px);
  }
}
