{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <!-- Start Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="http://qikbyte.com"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
            </div>

        </div>
    </nav>
    <div id="large-header" class="large-header">
		    <canvas id="demo-canvas"></canvas>
     </div>
    <!-- End Header -->
        {{ content }}

    {% include footer.html %}

    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/easing/EasePack.min.js"></script>
</body>
</html>
