{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <!-- Start Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
                <a class="navbar-brand scroll" href="http://qikbyte.com"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
            </div>

        </div>
    </nav>
    <!-- End Header -->
        {{ content }}

    {% include footer.html %}

    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
</body>
</html>
