---
layout: article
---
  <div id="main" class="main">
  <div class="container-fluid">
    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section>
            {{ content }}
        </section>

        <footer>
          <hr>
          <h4>You should also check these out:</h4>
          <hr>
            <div class="row">
            {% if page.previous %}

                <article class="col-sm-6 excerpt">
                    <header>
                        <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
                    </header>
                    <section>
                        {{ page.previous.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.previous.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>
            {% endif %}

            {% if page.next %}

                <article class="col-sm-6 excerpt f-right">
                    <header>
                        <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
                    </header>
                    <section>
                        {{ page.next.excerpt | markdownify }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.next.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>
            {% endif %}
            </div>
        </footer>

    </article>
  </div>
</div>
